<mat-toolbar color="primary">
  <span>[ng-sandbox] Advanced Angular techniques </span>
</mat-toolbar>
<main class="content">
  <mat-tab-group>
    <mat-tab label="SOLID">
      <div class="menu-tab">
        <ng-sandbox-solid-principles></ng-sandbox-solid-principles>
      </div>
    </mat-tab>
    <mat-tab label="[DI] Resolution Modifiers">
      <div class="menu-tab">
        <ng-sandbox-resolution-modifiers></ng-sandbox-resolution-modifiers>
        <div ngSandboxParent>
          <div ngSandboxChild></div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="[DI] Dependency Providers">
      <div class="menu-tab">
        <ng-sandbox-dependency-providers></ng-sandbox-dependency-providers>
      </div>
    </mat-tab>
    <mat-tab label="[DI] View Providers">
      <div class="menu-tab">
        <ng-sandbox-view-providers></ng-sandbox-view-providers>
      </div>
    </mat-tab>
    <mat-tab label="[DI] For Root / For Child">
      <div class="menu-tab">
        <ng-sandbox-root-child-pattern></ng-sandbox-root-child-pattern>
      </div>
    </mat-tab>
    <mat-tab label="[DI] ForwardRef">
      <div class="menu-tab">
        <ng-sandbox-forward-ref></ng-sandbox-forward-ref>
      </div>
    </mat-tab>
    <mat-tab label="[DI] Inject function">
      <div class="menu-tab">
        <ng-sandbox-inject-function></ng-sandbox-inject-function>
      </div>
    </mat-tab>
    <mat-tab label="[DI] Router providers">
      <div class="menu-tab">
        <ng-sandbox-router-providers></ng-sandbox-router-providers>
      </div>
    </mat-tab>
  </mat-tab-group>
</main>
